body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  color: #650d0d;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 8.333%);
  grid-template-rows:  repeat(12, 1fr);

  background-image: url("../img/streakyorange.jpeg");
  background-size: cover;
}

.logo {
  font-size: 1.5em;
  margin: 1em;
}

nav {
  margin: 0;
  padding: 1em;
  grid-column: 0 / 13;
  grid-row: 1;
}

ul#nav {
  float: right;
  display: inline;
  margin-right: 2em;
}

#nav li {
  margin: 1em;
  display: inline ;
  list-style: none;
}

span a {
  color: #ccf8FF;
  text-decoration: none;
}

a {
  color: #650d0d;
  text-decoration: none;
}

.navbar-inverse {
  background: rgb(100, 100, 100, 0.5);
}

.navLinks {
  cursor: pointer;
}
#remove {
  cursor: pointer;
}

#display {
  grid-column: 1 / 5;
  grid-row: 2;
  color: #010202;
  border: 2px solid 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
}

#display p {
  margin auto;
  border-top: 1px solid #999;
}

#nowPlaying {
  font-weight: bold;
  font-size: 1.2em;
}

.songNav {
  cursor: pointer;
  width: 15%;
}

.modal-content, input, button {
    background: rgb(100, 100, 100, 0.5);
}

input {
  display: block;
  margin-bottom: 10px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 20%;
}
